body{
    background: #FFF;
    padding: 50px;
}

.nav{

    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    
}

.nav *{

    box-sizing: border-box;
    transition: all 0.35s ease;
}

.nav li{

    display: inline-block;
    list-style: outside none none;
    padding: 0;
    margin: .5rem 1em;
}

.nav a{

    text-decoration: none;
    padding: .5em 0.8em;
    color: #000;
    position: relative;
    font-size: 20px;
}

.nav * :hover{

    background: #000;
    color: white;
}